<div fxLayout="row" class="loginMargin">
  <div fxFlex fxLayout="column">
    <form fxLayout="column" fxFlexAlign="center" name="loginForm" #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)">
      <h4 fxFlexAlign="center">LOGIN</h4>
      <mat-form-field>
        <input type="text" matInput placeholder="Email" name="email" ngModel required>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="password" minlength="6" name="password" ngModel required>
      </mat-form-field>
      <a href="#">Forgot Password ?</a>
      <span>
        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
        <a mat-button routerLink="signup">join with us!</a>
      </span>
    </form>
  </div>
</div>